        <section class="detail-view container">
                <div id="<%= bookList[0].id %>">
                  <p>ISBN:
                    <%= bookList[0].isbn %>
                  </p>
                  <p>Description:
                    <%= bookList[0].description %>
                  </p>
                </div>
        </section>