<section class="detail-view container">

  <div id="<%= bookList.id %>">

    <p>Description:
      <%- bookList.description %>
    </p>

    <p>ISBN:
      <%- bookList.isbn %>
    </p>

  </div>
</section>