<!DOCTYPE html>
<html>

<head>

  <link rel="stylesheet" type="text/css" href="/styles/reset.css" />
  <link rel="stylesheet" type="text/css" href="/styles/base.css" />
  <!-- <link rel="stylesheet" type="text/css" href="../public/styles/layout.css" />
      <link rel="stylesheet" type="text/css" href="../public/styles/modules.css" />
      <link rel="stylesheet" type="text/css" href="../public/styles/icons.css" /> -->

</head>

<body>
  <h1>Google API Book Results</h1>
  <ul>
    <% books.forEach(book => { %>
    <p><img src="<%=book.image_url%>"></p>
    <p>Title:
      <%= book.title %>
    </p>
    <p>Author:
      <%= book.author %>
    </p>

    <% }) %>


  </ul>




</body>

</html>