<!DOCTYPE html>

<html>

  <%- include('../layout/head') %>


<body>

  <img src="images/404bookerror.jpg" alt="404-ERROR" title="A 404 error occurred">

  <h1>
    "This is not the route you're looking for.... because I can't find it."
  </h1>

</body>


</html>