<!DOCTYPER html>

<html>

<body>

  <img src="images/error.jpg" alt="ERROR" title="An error occurred">

  <h1>
    I'm sorry, I've enountered an error! Here's what happened:
  </h1>


  <h2>

    <%= errorResult %>

  </h2>


</body>


</html>