@import url('https://fonts.googleapis.com/css?family=Boogaloo|Roboto');


body {
  background-color: #254e58;
  color:white;
  font-family: 'Roboto', sans-serif;
}

.container {
  margin-bottom: 75px;
}

h1 {
  
  font-size: 150%;
}

h2 {
  background-color: #112d32;
  padding-bottom: 10px;
  font-size:125%;
  text-align: center;
 
}

h3 {
  font-size:100%;
  color: white;
  /* font-weight: bold; */
}

h4 {
  font-size: 75%;
  font-style: italic;
}

button {
  background-color: navy;
  border: 1px solid white;
  border-radius: 5px;
  box-shadow: 0 5px 10px 0 rgba(0,0,0,0.2), 0 5px 10px 0 rgba(0,0,0,0.19);
  padding: 5px 10px;
  color: white;
  font-size: 125%;



}