@import url('https://fonts.googleapis.com/css?family=Boogaloo|Roboto');

/* font-family: 'Roboto', sans-serif;
font-family: 'Boogaloo', cursive; */


body {
  background-color: white;
  color:black;
  font-family: 'Roboto', sans-serif;
  font-size:75%;
}
